@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to right, #2c3e50, #2a2d34);
  }
  50% {
    background: linear-gradient(to right, #2c3e50, #4b5d6c);
  }
  100% {
    background: linear-gradient(to right, #2c3e50, #2a2d34);
  }
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to right, #2c3e50, #2a2d34);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease-in-out infinite;
  background: linear-gradient(
    135deg,
    #6f42c1,
    #d63384
  ); /* Stunning background gradient */
  animation: backgroundColorChange 10s infinite alternate;
  background: linear-gradient(45deg, #fc466b, #3f5efb);
  background-image: url("bac-08 copy 2.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: 20px;
}
